.parent-photo-div {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.single-photo-div {
  margin-top: 200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 1100px) {
  .single-photo-div {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .single-photo-div {
    grid-template-columns: repeat(1, 1fr);
  }
}
